:root{
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #EA655E;
  --color-secondary: #661B17;
  --color-terciary: #B3807D;
  --color-cuaternary: #664947;
}
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;

}
body{
  font-family: 'Roboto Condensed', sans-serif;
}
header{
  height: 75px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.logo_burger{
  width: 85%;
  display: inline-block;
  margin-left: 15px;
  padding-bottom: 5%;
}
.logo_burger__logo{
  width: 75px;
}
nav{
  width: 15%;
  padding-bottom: 7%;
}
.nav__checkbox{
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  opacity: 0;
}
.nav__sections{
  display: none;
}
.nav__burger{
  width: 20px;
  margin-left: 15px;
}